.main {
  background-color: antiquewhite;
  min-height: 47em;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySpan {
  display: flex;
  justify-content: center;
  font-family: "Italianno", "Gill Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
}

.mainSec {
  max-width: 85%;
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  max-width: 350px;
  display: flex;
  margin-top: 3em;
}

.img {
  object-fit: inherit;
}
