@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.main {
  background-color: antiquewhite;
  min-height: 47em;
  border-radius: 5px 5px 0 0;
}
.mySpan {
  display: flex;
  justify-content: center;
  font-family: 'Italianno', "Gill Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
}
