.footerDiv {
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}

.link {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1px 0 1px 0;
  min-width: 110px;
}
.linkIcon {
  border-radius: 17px;
}
.rightDiv {
  display: flex;
  align-items: center;
}

.bottomDiv {
  background-color: bisque;
  min-height: 4em;
  border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 528px) {
  .footerDiv {
    flex-wrap: wrap;
  }
}